.DS_Store
doc/api
doc/app
test/tmp

# output files
output/
Repo-*
Docs-*
Sigs-*

.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/patentsafe-checker.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
